body {
  background-color: rgb(6, 4, 46);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  margin: 2rem;
}

input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: large;
}

p {
  font-size: medium;
  margin-bottom: 1.5rem;
}

button {
  border: 1px solid antiquewhite;
  border-radius: 0.5rem;
  background-color: inherit;
  color: inherit;
  padding: 1rem;
  font-size: large;
}

footer {
  background-color: antiquewhite;
  color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

address {
  font-size: large;
}
#loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

#render-div {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
